@import '../../assets/variables';

.header {
  top: 0;
  left: 0;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  z-index: 4;
  padding: .4rem 0;
  //border-bottom: 1px solid $gray-1;
  background: rgba(255, 255, 255, 0.98);
  box-shadow: 0 6px 20px rgba(0, 0, 0, .06);
  pointer-events: auto;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav {
  &__list {
    display: flex;
    margin: 0;
    list-style: none;
  }
  &__item {
    margin-left: 1.5rem;
  }
  &__link {
    display: inline-block;
    text-decoration: none;
    color: $black;
    transition: color .1s ease-in-out;
    &:hover {
      color: lighten($black, 70%);
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  //width: 46px;
  //height: 40px;
  object-fit: contain;
  object-position: center;
  text-decoration: none;
  &:hover & {
    &__image {
      animation: logoHello .6s ease-in-out
    }
  }
  &__image {
    width: 60px;
    margin: 0 .2rem;
    max-height: 100%;
  }
  &__text {
    display: inline-block;
    font-weight: 600;
    font-size: 2rem;
    color: $black;
    text-shadow: 0 0 1px $black;
    text-transform: uppercase;
  }
}

@keyframes logoHello {
  0% {transform:rotate(0deg)}
  33%{transform:rotate(20deg)}
  66%{transform:rotate(-20deg)}
  100%{transform:rotate(0deg)}
}
